<!-- === Start Loading === -->
<div class="loading">
    <div class="text-center middle">
    	<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
</div>
<!-- ===  End Loading ==== -->

<!-- ==== Start Navbar === -->
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<h5>Christopher P. </h5>
			  <!-- Logo -->
			  <a class="logo" href="#"></a>

			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="icon-bar"><i class="fas fa-bars"></i></span>
			  </button>

			  <!-- navbar links -->
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="1">About</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="2">Services</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="3">Hobbies/Interests</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="4">Quotes</a>
			      </li>
			     
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>
<!-- ==== End Navbar === -->

<!-- ==== Start Header === -->
    	<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="assets/img/b3.jpg" data-stellar-background-ratio="1.0">
    		<div class="container">
    			<div class="row">
    				<div class="vertical-center full-width text-center caption">
    					<h2>BISU</h2>
	    				<h1 class="cd-headline clip">
				            <span class="blc">I Am :</span>
				            <span class="cd-words-wrapper">
				              <b class="is-visible">Christopher Peligrino</b>
				              <b>a Developer</b>
				              <b>a Student</b>
				            </span>
		          		</h1>
    				</div>
    			</div>
    		</div>

    		<div class="arrow">
				<a href="#" data-scroll-nav="1">
					<i class="fas fa-chevron-down"></i>
				</a>
			</div>
    	</header>
<!-- ==== End Header === -->

<!-- ==== Start Hero === -->
    	<section class="hero section-padding" data-scroll-index="1">
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-5">
    					<div class="hero-img mb-md50">
    						<img src="./assets/img/hero.jpg" alt="">
    					</div>
    				</div>
    				<div class="col-lg-7">
    					<div class="content">
							<h4 class="title title-left">I am a Web Developer/Programmer</h4>
    						<p>I am <span>Christopher Peligrino</span> , A Computer Engineering Student of Bohol Island State University Tagbilaran Campus. Web development has been my great focus and is capable of creating outputs according to your needs.</p>
    						<p>Leading people also is not new to me having been a Mayor of our Class, President of CGG Youth Music Team an SK Treasurer of our own barangay and an Officer of the ICpEP( Institute of Computer Engineers of the Philippines (BISU Chapter) ) </p>

    						<div class="social-icon">
    							<a href="https://www.facebook.com/peligs19/">
    								<span class="icon"><i class="fab fa-facebook-f"></i></span>
    							</a>
    							
    							<a href="https://www.instagram.com/peligs19/">
    								<span class="icon"><i class="fab fa-instagram"></i></span>
    							</a>
    							
    							
    						</div>

    						<span class="buton text-center">
                              <a href="#0" front="Hire Me" back="&#xf1d8;" data-scroll-nav="6"></a>
                            </span>
                           
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
<!-- ==== End Hero === -->

<!-- ==== Start Resume === -->
    	<section class="resume bg-img" data-overlay-dark="8" data-background="./assets/img/b3.jpg" data-scroll-index="2">
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-3 col-sm-6">
    					<div class="item mb-md50">
    						<span class="icon icon-pencil"></span><br>
    						<h5 class="title title-left">Education</h5>
    						<ul>
    							<li>
    								<h6>Dr. Cecilio Putong National High School</h6>
    								<p>Special Program for the Arts (Major in Instruments)</p>
    							</li>
    							<li>
    								<h6>Cristal e- College</h6>
    								<p>ICT Computer Programming (With Honors)</p>
    							</li>
    							<li>
    								<h6>Bohol Island State University</h6>
    								<p>Bachelor of Science in Computer Engineering (Present)</p>
    							</li>
    						</ul>
    					</div>
    				</div>
    				<div class="col-lg-3 col-sm-6">
    					<div class="item mb-md50">
    						<span class="icon icon-briefcase"></span><br>
    						<h5 class="title title-left">Experience</h5>
    						<ul>
    							<li>
    								<h6>Member (Contributor of the Tabulation System of the School)</h6>
    								<p>Informatics Animators and Programmers Guild</p>
    							</li>
    							<li>
    								<h6>System/Java Developer</h6>
    								<p>Cafe Management System</p>
    							</li>
    							<li>
    								<h6>Web Developer/Designer</h6>
    								<p>Teachers Evaluation System</p>
    							</li>
    						</ul>
    					</div>
    				</div>
    				<div class="col-lg-6">
    					<div class="item skills">
    						<span class="icon icon-layers"></span><br>
    						<h5 class="title title-left">My Skills</h5>

    						<div class="skill">
    							<h6>Angular <span>Intermediate</span></h6>
    							<div class="skills-progress"><span data-value='50%'></span></div>
    						</div>
    						<div class="skill">
    							<h6>Cloud-computing(AWS) <span>Beginner</span></h6>
    							<div class="skills-progress"><span data-value='25%'></span></div>
    						</div>
    						<div class="skill">
    							<h6>JavaScript<span>Intermediate</span></h6>
    							<div class="skills-progress"><span data-value='50%'></span></div>
    						</div>
    						<div class="skill">
    							<h6>C <span>Intermediate</span></h6>
    							<div class="skills-progress"><span data-value='50%'></span></div>
    						</div>
							<div class="skill">
    							<h6>C++ <span>Intermediate</span></h6>
    							<div class="skills-progress"><span data-value='50%'></span></div>
    						</div>
							<div class="skill">
    							<h6>Java<span>Intermediate</span></h6>
    							<div class="skills-progress"><span data-value='50%'></span></div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
<!-- ==== End Resume=== -->

<!-- ==== Start Hobbies === -->
    	<section class="services section-padding" data-scroll-index="2">
    		<div class="container">
    			<div class="row">
    				
    				<div class="section-head full-width">
    					<h4 class="title">Other Competencies</h4>
    				</div>

    				<div class="col-lg-4 col-md-6">
    					<div class="item mb-md50">
    						<span class="icon icon-heart"></span>
    						<h6>Perseverance</h6>
    						<p>Determined to do the assigned works/tasks excellently</p>
    					</div>
    				</div>
    				<div class="col-lg-4 col-md-6 active bolt">
    					<div class="item mb-md50">
    						<span class="icon icon-layers"></span>
    						<h6>Leadership</h6>
    						<p>Ability to lead people in various circumstances.</p>
    					</div>
    				</div>
    				<div class="col-lg-4 col-md-6">
    					<div class="item mb-md50">
    						<span class="icon icon-megaphone"></span>
    						<h6>Communication</h6>
    						<p>Good verbal or non-verbal skills towards customers/users.</p>
    					</div>
    				</div>
    				<div class="bord full-width"></div>
    				<div class="col-lg-4 col-md-6">
    					<div class="item mb-md50">
    						<span class="icon icon-shield"></span>
    						<h6>Problem-Analysis</h6>
    						<p>Solves problems analytically with precise actions.</p>
    					</div>
    				</div>
    				<div class="col-lg-4 col-md-6 active">
    					<div class="item mb-sm50">
    						<span class="icon icon-mobile"></span>
    						<h6>Loyalty</h6>
    						<p>Stays true to the chosen company even if hard times will come</p>
    					</div>
    				</div>
    				<div class="col-lg-4 col-md-6">
    					<div class="item">
    						<span class="icon icon-gears"></span>
    						<h6>Organising</h6>
    						<p>Wants every work to be organized before engaging to avoid confusions</p>
    					</div>
    				</div>

    			</div>
    		</div>
    	</section>
<!-- ==== End Hobbies === -->

<!-- ==== Start Numbers === -->
    	<div class="numbers bg-img" data-stellar-background-ratio="0.5" data-overlay-dark="8" data-background="assets/img/b3.jpg">
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-3 col-md-6">
    					<div class="item mb-md50">
    						<span class="icon icon-sad"></span>
    						<h2 class="count">101</h2>
    						<p>Heart Aches</p>
    					</div>
    				</div>
    				<div class="col-lg-3 col-md-6">
    					<div class="item mb-md50">
    						<span class="icon icon-layers"></span>
    						<h2 class="count">3</h2>
    						<p>Project Completed</p>
    					</div>
    				</div>
    				<div class="col-lg-3 col-md-6">
    					<div class="item mb-sm50">
    						<span class="icon icon-beaker"></span>
    						<h2 class="count">67</h2>
    						<p>Cup of Coffees (and counting)</p>
    					</div>
    				</div>
    				<div class="col-lg-3 col-md-6">
    					<div class="item">
    						<span class="icon icon-pencil"></span>
    						<h2 class="count">1</h2>
    						<p>Pending works</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
<!-- ==== End Numbers === -->

<!-- ==== Start Portfolio === -->
    	<section class="portfolio section-padding" data-scroll-index="3">
			<div class="container">
				<div class="row">

    				<!-- Section-Head -->
    				<div class="section-head full-width">
    					<h4 class="title">Hobbies/Interests</h4>
    				</div>

    			</div>

				<div class="row justify-content-center">

					<!-- filter links -->
					<div class="filtering text-center mb-50">
						<span data-filter='*' class="active">All</span>
						<span data-filter='.brand'>Sports</span>
						<span data-filter='.web'>Music</span>
						<span data-filter='.graphic'>Organizations</span>
					</div>

					<!-- gallery -->
					<div class="gallery full-width">

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items brand">
							<div class="item-img">
								<img src="assets/img/portfolio/basketball.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>CpE Player</h6>
										<h5>Basketball</h5>
									</div>
									<a href="assets/img/portfolio/basketball.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items brand">
							<div class="item-img">
								<img src="assets/img/portfolio/volleyball.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>BISU Varsity</h6>
										<h5>Volleyball</h5>
									</div>
									<a href="assets/img/portfolio/volleyball.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items brand">
							<div class="item-img">
								<img src="assets/img/portfolio/7.JPG" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Local Franchise Player</h6>
										<h5>DOTA 2</h5>
									</div>
									<a href="assets/img/portfolio/7.JPG" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items web">
							<div class="item-img">
								<img src="assets/img/portfolio/bass.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Church Lead Guitar</h6>
										<h5>Guitar</h5>
									</div>
									<a href="assets/img/portfolio/bass.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 items web">
							<div class="item-img">
								<img src="assets/img/portfolio/piano.PNG" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Newbie Pianist</h6>
										<h5>Piano</h5>
									</div>
									<a href="assets/img/portfolio/piano.PNG" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 items web">
							<div class="item-img">
								<img src="assets/img/portfolio/drum.PNG" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Church Alternate Drummer</h6>
										<h5>Drums</h5>
									</div>
									<a href="assets/img/portfolio/drum.PNG" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items graphic">
							<div class="item-img">
								<img src="assets/img/portfolio/sk.JPG" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Mayacabac, Dauis</h6>
										<h5>SK Treasurer</h5>
									</div>
									<a href="assets/img/portfolio/sk.JPG" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 items graphic">
							<div class="item-img">
								<img src="assets/img/portfolio/iapg.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Member/Contributor</h6>
										<h5>IAPG</h5>
									</div>
									<a href="assets/img/portfolio/iapg.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items graphic">
							<div class="item-img">
								<img src="assets/img/portfolio/church.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Member/Officer</h6>
										<h5>ICpEp</h5>
									</div>
									<a href="assets/img/portfolio/church.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</section>
<!-- ==== End Portfolio === -->

    	<!-- =====================================
    	==== Start quotes -->
    	<section class="testimonials section-padding bg-img" data-overlay-dark="8" data-background="assets/img/b3.jpg" data-scroll-index="4">
    		<div class="container">
    			<div class="row">

    				<!-- Section-Head -->
    				<div class="section-head full-width mb-50">
    					<span class="icon icon-quote"></span><br>
    					<h4 class="title">Favorite Quotes</h4>
    				</div>

    				<div class="offset-md-1 col-md-10">
    					<div class="owl-carousel owl-theme text-center">
	    					<div class="citem">
	    						<p>Wisdom is the right use of knowledge. To know is not to be wise.</p>
	    						<h5>Charles Spurgeon</h5><h6>Theologian</h6>
	    					</div>
	    					<div class="citem">
	    						<p>Any fool can write code that a computer can understand. Good programmers write code that humans can understand.</p>
	    						<h5>Martin Fowler</h5><h6>Software Developer</h6>
	    					</div>
	    					<div class="citem">
	    						<p>A successful website does three things:
									It attracts the right kinds of visitors.
									Guides them to the main services or product you offer.
									Collect Contact details for future ongoing relation.</p>
	    						<h5>Mohamed Saad</h5><h6>Web Developer</h6>
	    					</div>
	    				</div>
    				</div>

    			</div>
    		</div>
    	</section>
    	<!-- End quotes ====
    	======================================= -->

   	<!-- =====================================
    	==== Start Contact -->
    	<section class="contact section-padding bg-img" data-overlay-dark="8" data-scroll-index="6">
    		<div class="container">
    			<div class="row">
    				
    				<!-- Section-Head -->
    				<div class="section-head full-width mb-50">
    					<h4 class="title">Get In Touch</h4>
    				</div>

    				<form class="form full-width" id="contact-form" method="post" action="http://www.innovationplans.com/idesign/personala/contact.php">
                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="name-input" type="text" name="name" placeholder="Name *" required="required">
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="email-input" type="email" name="email" placeholder="Email *" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="subject" type="text" name="subject" placeholder="Subject">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="desc-input" name="message" placeholder="Your Message *" rows="4" required="required"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-12">
                                    <div class="form-group">
                                        <span class="buton buton-lg">
	                                    	<button type="submit" onClick="submitToAPI(event)" front="Send Message" back="&#xf0e0;
											"></button>
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="info full-width">
                    	<div class="row">
                    		<div class="col-md-4">
                    			<div class="item mb-sm50">
                    				<span class="icon icon-mobile"></span>
                    				<div class="cont">
                    					<h6>Phone</h6>
                    					<p>+639306763565</p>
                    				</div>
                    			</div>
                    		</div>
                    		<div class="col-md-4">
                    			<div class="item mb-sm50">
                    				<span class="icon icon-envelope"></span>
                    				<div class="cont">
                    					<h6>Email</h6>
                    					<p>christopherpeligrino19@gmail.com</p>
                    				</div>
                    			</div>
                    		</div>
                    		<div class="col-md-4">
                    			<div class="item">
                    				<span class="icon icon-map-pin"></span>
                    				<div class="cont">
                    					<h6>Address</h6>
                    					<p>Purok 5 Mayacabac Dauis, Bohol</p>
                    				</div>
                    			</div>
                    		</div>
                    	</div>
                    </div>

    			</div>
    		</div>
    	</section>
    	<!-- End Contact ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Footer -->
    	<footer class="footer">
    		<p>Copyright &copy; And Made With Love All Rights Reserved.</p>
    	</footer>
    	<!-- End Footer ====
    	======================================= -->

